name: Build & Test

on: [push]

jobs:
  build:
    runs-on: windows-2022
    timeout-minutes: 20

    steps:
    - name: Setup Visual Studio Development Environment
      uses: compnerd/gha-setup-vsdevenv@main

    - name: Install Swift
      uses: compnerd/gha-setup-swift@main
      with:
        branch: development
        tag: DEVELOPMENT-SNAPSHOT-2023-05-20-a

    - name: Check out repository code
      uses: actions/checkout@v3

    - name: Build
      run: swift build --disable-keychain --build-tests

    - name: Test
      run: swift test --disable-keychain --skip-build
      timeout-minutes: 10

