name: Build & Test

on:
  push:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  build-spm:
    name: Build & Test (SPM)
    runs-on: windows-2022
    timeout-minutes: 20

    steps:
    - name: Checkout Swift-WebBrowser
      uses: actions/checkout@v4.1.1

    - name: Setup Visual Studio Development Environment
      uses: compnerd/gha-setup-vsdevenv@main

    - name: Install Swift
      uses: compnerd/gha-setup-swift@main
      with:
        branch: swift-5.8-release
        tag: 5.8-RELEASE

    - name: Build
      run: swift build --verbose --build-tests

    - name: Test
      run: swift test --verbose --skip-build

  build-cmake:
    name: Build (CMake)
    runs-on: windows-2022
    timeout-minutes: 20

    steps:
      - name: Checkout Swift-WebBrowser
        uses: actions/checkout@v4.1.1

      - name: Setup Visual Studio Development Environment
        uses: compnerd/gha-setup-vsdevenv@main

      - name: Install Swift
        uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-5.8-release
          tag: 5.8-RELEASE

      - name: CMake Configure
        shell: pwsh
        run: cmake -S . -B build -G Ninja

      - name: CMake Build
        shell: pwsh
        run: cmake --build .\build
